* { box-sizing: border-box; }
a { text-decoration: none; }
li { list-style: none; }

h1 {
    margin: 0;
    font-size: 36px;
}

h2 {
    margin: 0;
    font-size: 24px;
}

body {
    position: relative;
    margin: 0;
    height: 200vh;
}

header, main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container {
    box-sizing: border-box;
    width: 1000px;
}

.header {
    position: fixed;
    top: 0;
    height: 100px;
    background-color: #CC0066;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header-logo {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 7px;
    font-size: 50px;
}

.header-logo a {
    color: #FF6699;
}

.nav-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 15px 0;
    height: 100px;
}

.primary-navbar {
    display: flex;
    margin: 0;
}

.primary-navbar-item {
    padding-left: 30px;
    font-size: 24px ;
    color: #FF6699;
    cursor: pointer;
}

.primary-navbar-item:hover {
    color: black;
}

.dropdown {
    position: relative;
}

.dropdown-arrow-container {
    display: flex;
    justify-content: center;
    width: 180px;
}

.dropdown-arrow {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #555555;
}

.dropdown-container {
    display: none;
    position: absolute;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: #555555;
    min-width: 180px;
    z-index: 1;
}

.dropdown-content-item {
    padding: 8px;
}

.dropdown-content-item  a {
    color: #eeeeee;
}

.dropdown-content-item:hover {
    background-color: #666666;
}

.dropdown:hover .dropdown-container {
    display: block;
}

.dropdown:hover .primary-navbar-item  {
    color: black;
}

.secondary-navbar{
    display: flex;
    margin: 0;
    list-style: none;
}

.secondary-navbar-item {
    padding-left: 20px;
    font-size: 14px;
    color: black;
    cursor: pointer;
}

.secondary-navbar-item:hover {
    color: #FF6699;
}

.main {
    margin-top: 100px;
    height: calc(100% - 100px);
    background-color: #eaeaea;
}

.top-section {
    display: flex;
    margin-top: 40px;
}

.top-section-content {
    width: 70%;
}

.top-section-article {
    margin-bottom: 20px;
    padding: 30px 20px;
    background-color: white;
}

.top-section-cards-container {
    display: flex;
}

.top-section-card {
    padding: 20px;
    width: 50%;
    background-color: white;
}

.top-section-aside {
    margin-left: 20px;
}

.top-section-aside-list {
    padding: 0;
}

.top-section-aside-item {
    padding: 5px 0;
}

.top-section-aside-item a {
    color: dodgerblue;
}

.top-section-aside-item + .top-section-aside-item {
    content: '';
    border-top: solid 2px #cccccc;
}

.main-aside {
    margin-left: 20px;
    width: 30%;
}

.main-aside-header::after {
    content: '';
    display: block;
    margin: 15px 0;
    height: 3px;
    width: 100%;
    background-color: black;
}

.form-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
}

.form-container label {
    margin-bottom: 7px;
    font-weight: bold;
}

.form-container input {
    padding: 0 5px;
    line-height: 2em;
}

.form-container textarea {
    padding: 5px;
    max-width: 100%;
    height: 8.4em;
    line-height: 1.2em;
}

.formAlert {
    text-align: end;
    padding: 5px;
    height: 20px;
    color: #CC0066;
    font-size: 10px;
}

.success {
    color: green;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    width: fit-content;
    background-color: #CC0066;
    outline: none;
    border: none;
    color: white;
    letter-spacing: 3px;
}

.bottom-section {
    display: flex;
    margin: 20px 0;
    background-color: #cccccc;
}

.bottom-section-card {
    padding: 30px 20px;
    margin: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    background-color: #666666;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    color: #ccc;
}

.footer-content {
    font-size: 12px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.footer-nav-list {
    display: flex;
    margin: 0;
    padding: 15px 0;
    list-style: none;
    color: white;
}

.footer-nav-item + .footer-nav-item::before {
    content: ' | ';
    padding: 0 10px;
}

.footer-nav-item a{
    color: white;
}

.footer-description {
    padding-bottom: 10px;
}

.footer-logo {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding: 0 0 10px 30px;
    color: #ffffff;
    white-space: nowrap;
    font-size: 36px;
}

.hide {
    visibility: hidden;
}
